div.inv-section:nth-child(1) div.main-loot-container
{
    position: absolute;
    bottom: 10%;
    padding-left: 20px;
    padding-right: 20px;
}

div.inv-section:nth-child(1) div.title
{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: 'Source Sans Pro';
}

div.inv-section:nth-child(1) div.items-container
{
    border: 2px dashed red;
    display: grid;
    grid-column-gap: 6px;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto auto;
}

div.inv-section:nth-child(1) div.hotbar-container-outer
{
    border: 2px dashed green;
}