@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

div.item-container
{
    display: inline-block;
    position: relative;
    user-select: none;
}

div.item-container div.innner-hover-container
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

div.item-container.selected div.innner-hover-container
{
    background-color: rgba(47, 136, 219, 0.75);
}

div.item-container div.innner-hover-container.hovered
{
    animation: hover-item ease-in-out 0.1s;
}

@keyframes hover-item
{
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

div.item-container div.grab-container
{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

div.item-container img.item-image
{
    width: 90%;
    height: 90%;
    user-select: none;
    padding: 5%;
}

div.item-container div.amount
{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    color: rgba(255, 255, 255, 0.75);
}

div.item-container div.durability
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

div.item-container div.durability div.durability-inner
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #5cb940;
}