div.inv-section:nth-child(3) div.main-loot-container
{
    position: absolute;
    bottom: 20%;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    animation: appear 0.2s ease-in-out;
}

div.inv-section:nth-child(3) div.title
{
    margin-bottom: 4px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: 'Source Sans Pro';
    user-select: none;
}

div.inv-section:nth-child(3) div.items-container
{
    // border: 2px dashed red;
    display: grid;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(6, auto);
}

div.inv-section:nth-child(3) div.hotbar-container-outer
{
    // border: 2px dashed green;
}