div.inv-section:nth-child(2) div.main-inventory-container
{
    position: absolute;
    bottom: 0;
    padding: 8px;
}

div.inv-section:nth-child(2) div.title
{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: 'Source Sans Pro';
}

div.inv-section:nth-child(2) div.inventory-items-container
{
    border: 2px dashed red;
    display: grid;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto;
}

div.inv-section:nth-child(2) div.hotbar-container-outer
{
    border: 2px dashed green;
}