[submodule "oof"]
	path = oof
	url = https://github.com/Paradigm-MP/oof
[submodule "chat"]
	path = chat
	url = https://github.com/Paradigm-MP/oof-chat
[submodule "object-editor"]
	path = object-editor
	url = https://github.com/Paradigm-MP/oof-object-editor
[submodule "blackscreen"]
	path = blackscreen
	url = https://github.com/Paradigm-MP/oof-blackscreen
[submodule "events"]
	path = events
	url = https://github.com/Paradigm-MP/oof-defaultevents
