

body
div.bg
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    background: #1d2522;
    background: -webkit-radial-gradient(center, #1d2522, #121514);
    background: -moz-radial-gradient(center, #1d2522, #121514);
    background: radial-gradient(ellipse at center, #1d2522, #121514);
}

div.loader
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: right;
    background: rgba(46, 56, 52, 0.5);
    background: linear-gradient(to left, rgba(63, 82, 79, 0.37), transparent);
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
}

div.cancel-button
{
    display: inline-block;
    padding: 50px;
    background-color: rgb(31, 170, 117);
    color: rgb(24, 221, 178);
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
}

div.load-status
{
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    width: 350px;
}

div.title
{
    font-size: 46px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.76);
}

div.subtitle
{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.527);
    font-weight: 700;
}